@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  line-height: 1.6;
  height: 99%;
  padding: 0;
  margin: 0;
  
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

li a{
  text-decoration: none;
}
body{
  background-image: url('./assets/weatherbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  overflow-x:hidden;
  overflow-y: hidden;
}
/* HEADER STYLES START */

.header-wrapper{
  display: flex;
  width: 80vw;
  height: 5vh;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.search-wrapper{
  position: relative;
  min-width: 100px;
}
input[type=search] {
  border: none;
  border-bottom: 2px solid white;
  color:white;
  height: 25px;
  background: none;
  width: 100%;
  background: none;
  line-height: 3;

}
input[type=search]:hover,input[type=search]:focus,input[type=search]:active  {
  color:white;
  border: none;
  border-color: transparent;
  border-bottom: 1px solid white;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
  cursor: pointer;
}
.logo{
  position: absolute;
  left: 0;
  padding: 12px;
}
/* HEADER STYLES END */
.content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 320px;
  align-items: center;
  color: #f5f5f5;
  padding: 8px 16px;
  margin-top: 8vh;


}
.content-wrapper .left{
  display: flex;
  flex-direction: column;
  font-family: 'Oxygen', sans-serif
}
.content-wrapper .right{
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.placeholder{
  width: 250px;
  height: 250px;
}
.info-holder{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px;
  gap:16px;
  font-family: 'Oxygen', sans-serif;
}
.title{
  font-family: 'Oxygen', sans-serif;
  font-size: 32px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
}
.hourly-container{
  display: flex;
  max-width: 50vw;
  min-width: 30vw;
  border-bottom: 1px solid #eee;
  gap: 16px;
  white-space: nowrap;
  flex-wrap: nowrap ;
  color: #eee;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-color: #333 #eee;
  scrollbar-width: large;
}
.h-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.forecast-type{ 
  font-family: 'Oxygen', sans-serif;
  color: #eee;
}



/* MEDIA QUERIES */
@media only screen and (min-width: 268px) and (max-width: 659px){
   .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    gap: 0px;
    padding: 8px 16px;
    
  }
  input[type=search] {
    line-height: 1;
  }
  .content-wrapper .left{
    flex-shrink: 2;
  }
  .h-wrap, .h-temp,h3{
    font-size: small;
  }
}
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 